{% set item_type = nav_type %}
{% set item_type_name = nav_type_name %}
{% set item_type_title = nav_type_title ~ ' directory (' ~ letter_slug ~ ')' %}
{% set itemTypeCollection = collections[item_type] %}
{% set item_type_items = helpers.filterDirectoryItemsByLetter(itemTypeCollection, letter_slug) %}
{% set directory_link_list = helpers.createDirectoryLinkList(collections, item_type_items, item_type, item_type) %}
{% set plant_link_list_wrapper =
  {
    wrapper_class: '[ directory-' ~ item_type ~ '__link-list-section ]',
    title_class: '[ directory-' ~ item_type ~ '__link-list-section-title ]',
    link_list_class: '[ directory-' ~ item_type ~ '__link-list ]',
    heading_level: 'h2',
    title: item_type_title,
    link_list: directory_link_list,
    empty_message: 'There are no ' ~ item_type_name ~ ' directory items listed under ' ~ letter_slug ~ '.'
  }
%}
