<nav class="taxonomy-levels" role="nav">
  <h2 class="[ headline-with-border ] [ taxonomy-levels__title ]">Taxonomy Levels</h2>
  <ul class="taxonomy-levels__level-list">
    {% set level_machine_name = scientificNameInfo.genus.machine_name %}
    {% set level_type = 'genus' %}
    {% include "partials/plants/taxonomy-level.html" %}

    {% set level_machine_name = scientificNameInfo.species.machine_name %}
    {% set level_type = 'species' %}
    {% include "partials/plants/taxonomy-level.html" %}

    {% set level_machine_name = scientificNameInfo.variety.machine_name %}
    {% set level_type = 'variety' %}
    {% include "partials/plants/taxonomy-level.html" %}
  </ul>
</nav>
