
# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache

# Node modules and output
node_modules
dist
dist_test
src/_includes/css

# Temporary data
temp

# Netlify serverless files
netlify/functions/serverless/**
!netlify/functions/serverless/index.js
