{% set common_names_url = "/common-names-directory/a/" %}
<div class="[ box ] [ search-box ]">
  <div class="[ box__layout ]">
    <div class="[ box__heading ]">
      <h3 class="[ box__title ] [ search-box__title ]">Common Names A&ndash;Z</h3>
    </div>
    <div class="[ box__action ]">
      <a class="[ button ] [ box__button ] [ search-box__button ]" href="{{ common_names_url }}" data-variant="action">
        <span class="[ search-box__button-text ] [ button-text--short ]">Browse</span>
        <span class="[ search-box__button-text ] [ button-text--long ]"> Common Names for Plants</span>
      </a>
    </div>
  </div>
</div>
