<div class="[ search-form__widget search-form__widget--select ]">
  <select
    class="search-select"
    id="taxonomy-level"
    name="taxonomy-level"
    aria-label="Search by taxonomy type"
  >
    <option value="all">All Taxonomy Types</option>
    <option value="genus">Genus</option>
    <option value="species">Species</option>
    <option value="cultivar">Cultivar</option>
    <option value="variety">Variety</option>
    <option value="form">Form</option>
    <option value="grex">Grex</option>
    <option value="subspecies">Subspecies</option>
  </select>
</div>
