<form
  class="search-form"
  id="search-form"
  name="searchForm"
  role="form"
  onsubmit="return false"
  data-search-type="nurseries"
>
  <div class="search-form__widgets">
    <div class="search-form__input-widgets">
      <div class="[ search-form__widget search-form__widget--input ]">
        <input
          class="search-input"
          id="search-text"
          name="q"
          type="text"
          size="30"
          maxlength="128"
          autocomplete="off"
          placeholder=""
          aria-label="Search site"
          value=""
        />
      </div>
      <div class="[ search-form__widget search-form__widget--select ]">
        <select
          class="search-select"
          id="country"
          name="country"
          aria-label="Search by country"
        >
          <option value="all">All Countries</option>
          <option value="united_states">United States</option>
          <option value="canada">Canada</option>
        </select>
      </div>
      <div class="[ search-form__widget search-form__widget--select ]">
        <select
          class="search-select"
          id="sales-type"
          name="sales-type"
          aria-label="Search by sales type"
        >
          <option value="all">All Sales Types</option>
          <option value="retail">Retail</option>
          <option value="wholesale">Wholesale</option>
        </select>
      </div>
    </div>
    <div class="search-form__action-widgets">
      <div class="[ search-form__widget search-form__widget--submit ]">
        <button
          class="[ button ] [ search-form__button search-form__button--search ]"
          id="submit-search-results"
        >
          <span class="[ button-text button-text--short ] [ search-form__button-text search-form__button-text--short ]">
            Submit
          </span>
          <span class="[ button-text button-text--long ] [ search-form__button-text search-form__button-text--long ]">
            Search Request
          </span>
        </button>
      </div>
      <div class="[ search-form__widget search-form__widget--clear ]">
        <button
          class="[ button ] [ search-form__button search-form__button--clear ]"
          id="clear-search-results"
        >
          <span class="[ button-text button-text--short ] [ search-form__button-text search-form__button-text--short ]">
            Clear
          </span>
          <span class="[ button-text button-text--long ] [ search-form__button-text search-form__button-text--long ]">
            Search Request
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="search-form__messages" data-hide-element="true">
    <div class="search-error">
      <span class="search-error__message"></span>
    </div>
  </div>
</form>


