<div class="[ search-form__widget search-form__widget--select ]">
  <select
    class="search-select"
    id="taxonomy-level"
    name="taxonomy-level"
    aria-label="Search by taxonomy type"
  >
    <option value="all">All Taxonomy Types</option>
    <option value="genus">Genus</option>
    <option value="species">Species</option>
    <option value="cultivar">Cultivar</option>
    <option value="variety">Variety</option>
    <option value="form">Form</option>
    <option value="grex">Grex</option>
    <option value="subspecies">Subspecies</option>
  </select>
</div>

<div class="[ search-form__widget search-form__widget--checkbox ]">
  <input type="checkbox" id="common-names" name="common-names" value="true">
  <label for="common-names">Common names</label>
</div>

<div class="[ search-form__widget search-form__widget--checkbox ]">
  <input type="checkbox" id="available-in-nursery" name="available-in-nursery" value="true">
  <label for="available-in-nursery">Found in Nursery</label>
</div>
