<div class="[ search-form__widget search-form__widget--checkbox ]">
  <input type="checkbox" id="common-names" name="common-names" value="true">
  <label for="common-names">Common names</label>
</div>

<div class="[ search-form__widget search-form__widget--checkbox ]">
  <input type="checkbox" id="available-in-nursery" name="available-in-nursery" value="true">
  <label for="available-in-nursery">Found in Nursery</label>
</div>

<div class="[ search-form__widget search-form__widget--checkbox ]">
  <input type="checkbox" id="has-citations" name="has-citations" value="true">
  <label for="has-citations">Has Book / Magazine Citations</label>
</div>
