<div class="[ search-form__widget search-form__widget--select ]">
  <select
    class="search-select"
    id="country"
    name="country"
    aria-label="Search by country"
  >
    <option value="all">All Countries</option>
    <option value="united_states">United States</option>
    <option value="canada">Canada</option>
  </select>
</div>
<div class="[ search-form__widget search-form__widget--select ]">
  <select
    class="search-select"
    id="sales-type"
    name="sales-type"
    aria-label="Search by sales type"
  >
    <option value="all">All Sales Types</option>
    <option value="retail">Retail</option>
    <option value="wholesale">Wholesale</option>
  </select>
</div>
