/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you’ll
  get a fully responsive grid with no media queries.

  https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/

*/
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: var(--auto-grid-gap, get-size('500'));
}

.grid-1-1 {
  @include media-query('ml') {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-2-1 {
  @include media-query('ml') {
    grid-template-columns: 2fr 1fr;
  }
}

.grid-1-2 {
  @include media-query('ml') {
    grid-template-columns: 1fr 2fr;
  }
}

.grid-3-1 {
  @include media-query('ml') {
    grid-template-columns: 3fr 1fr;
  }
}

.grid-1-3 {
  @include media-query('ml') {
    grid-template-columns: 1fr 3fr;
  }
}
