{% set headerTitle = title %}
{% extends "layouts/base.html" %}
{% block content %}

  <div class="[ wrapper wrapper--topbot ]">
    {% set alertContent = primaryAlert %}
    {% include "partials/alert.html" %}

    {% set alertContent = alert %}
    {% include "partials/alert.html" %}

    <article>
      {% include "partials/intro.html" %}

      {{ content | safe }}
    </article>

    {% include "partials/plant-nav/browse-by-letter.html" %}

    {# {% include "partials/plant-type-item-list/plant-type-item-lists.html" %} #}

  </div>

{% endblock %}
