{% extends "layouts/base.html" %}
{% block content %}

  {% set alertContent = primaryAlert %}
  {% include "partials/alert.html" %}

  {% set alertContent = alert %}
  {% include "partials/alert.html" %}

  <article>
    <h1>{{ title }}</h1>

    <article class="intro">
      <div class="[ intro__content ] [ flow ]">
        <p class="intro__summary">
          {% for source in intro.sources %}
            {{ source.pre }}{% for item in source.items %}{{ item.pre }}<strong>{{ item.total }} {{ item.label }}</strong>{% endfor %}{% if loop.last %}. {% else %}, {% endif %}
          {% endfor %}
          {{ intro.created_by }}
        </p>
      </div>
    </article>

    {{ content | safe }}
  </article>
{% endblock %}
