{% extends "layouts/base.html" %}

{% set letter_bar_type = type %}
{% set letter_data = letter.data %}
{% set letter_title = letter_data.letter %}
{% set letter_slug = letter_data.letter_slug %}
{% set show_letter_list = 'true' %}

{% block content %}
  <div class="[ wrapper wrapper--topbot ]">
    <article class="[ page ] [ letter-directory ]">
      <div class="[ page-head ] [ letter-directory__head ]">
        <h1 class="[ page-title ] [ letter-directory__title ]">{{ title }}</h1>
      </div>
      {% include "partials/plant-nav/letter-bar.html" %}

      <h2 class="[ page-secondary-title ]">{{ letter_title }}</h2>
      {% if show_letter_list === 'true' %}
        {% include "partials/plant-nav/directory-letter-list.html" %}
      {% endif %}

      {% include "partials/plant-nav/letter-bar.html" %}
    </article>
  </div>
{% endblock %}
