{% extends "layouts/base.html" %}

{% set nurseries = nursery_by_category.items %}
{% set nursery_category_data = nursery_by_category.source %}
{% set nursery_category_slug = nursery_category_data.machine_name %}

{% block content %}

<div class="[ wrapper wrapper--topbot ]">
  <article class="[ page ] [ page--nursery-category ]">
    <div class="[ page-head ] [ page-head--nursery-category ]">
      <h1 class="[ page-title ] [ page-title--nursery-category ]">{{ nursery_by_category.title }}</h1>
    </div>

    <div class="[ page-bottom ] [ page-bottom--nursery-category ]">

      {% for nursery in nurseries %}

        {% set nursery_details = helpers.getNurseryDetails(nursery.data) %}
        {% set title = nursery_details.name %}
        {% include "partials/nurseries/nursery-teaser.html" %}

      {% endfor %}

      {% set pagination_title = "Nursery Category" %}
      {% set pagination_id = "pagination-nurseries-by-category" %}
      {% set pagination_details = nursery_by_category %}
      {% include "partials/pagination.html" %}
    </div>
  </article>
</div>

{% endblock %}
