{% extends "layouts/base.html" %}

{% set nursery_data = nursery.data %}
{% set nursery_name = nursery_data.name %}

{% block content %}

<div class="[ wrapper wrapper--topbot ]">
  <article class="[ page ] [ page--nursery ]">
    <div class="[ page-head ] [ page-head--nursery ]">
      <h1 class="[ page-title ] [ page-title--nursery ]">{{ nursery_name }}</h1>
    </div>

    <div class="[ page-bottom ] [ page-bottom--nursery ] [ auto-grid grid-2-1 ]">
      <div class="[ page-bottom__first ]">
      </div>
      <div class="[ page-bottom__second ]">
      </div>
    </div>
  </article>
</div>

{% endblock %}
