{% extends "layouts/base.html" %}

{% set show_related_data = 'true' %}
{% set show_citations = 'true' %}

{% set plant_name = '' %}
{% set plant_machine_name = '' %}
{% set plant_type = '' %}
{% set scientificNameInfo = {} %}
{% set plant_data = {} %}

{% if helpers.objectHasOwnProperties(plant, ['data']) %}
  {% set plant_data = plant.data %}

  {% if
    (helpers.objectHasOwnProperties(plant_data, ['name'])) and
    (helpers.objectHasOwnProperties(plant_data, ['machine_name'])) and
    (helpers.objectHasOwnProperties(plant_data, ['type']))
  %}
    {% set plant_name = plant_data.name %}
    {% set plant_machine_name = plant_data.machine_name %}
    {% set plant_type = plant_data.type %}
    {% set scientificNameInfo = helpers.getScientificNameInfo(collections, plant_data, plant_type) %}
  {% endif %}
{% endif %}

{% block content %}
  <div class="[ wrapper wrapper--topbot ]">
    <article class="[ page ] [ page--plant ]">
      <div class="[ page-head ] [ page-head--plant ]">
        <h1 class="[ page-title ] [ page-title--plant ]">{{ plant_name }}</h1>
        {% if plant_type !== 'family' %}
          <div class="page-sub-title">
            {% include "partials/plants/scientific-name.html" %}
          </div>
        {% endif %}
      </div>

      {% if (show_related_data === 'true') and (plant_type !== 'family') and (plant_type !== 'variety') %}
        {% include "partials/plants/related-plants.html" %}
      {% endif %}

      {% if plant_type === 'family' %}
        {% set family_data = plant_data %}
        {% include "partials/plants/family-data.html" %}
      {% endif %}

      {% if (plant_type === 'species') or (plant_type === 'variety') %}
        <div class="[ page-bottom ] [ page-bottom--plant ] [ auto-grid grid-2-1 ]">
          <div class="[ page-bottom__first ]">
            {% include "partials/plants/nursery-availability.html" %}
          </div>
          <div class="[ page-bottom__second ]">
            {% include "partials/plants/taxonomy-levels.html" %}
            {% if show_citations === 'true' %}
              {% include "partials/plants/plant-citations.html" %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </article>
  </div>

{% endblock %}
