{% extends "layouts/base.html" %}

{% set plant_data = plant.data %}
{% set plant_name = plant_data.name %}
{% set plant_type = plant_data.type %}
{% set scientificNameInfo = helpers.getScientificNameInfo(collections, plant_data, plant_type) %}

{% block content %}

  <div class="[ wrapper wrapper--topbot ]">
    <article class="[ page ] [ page--plant ]">
      <div class="[ page-head ] [ page-head--plant ]">
        <h1 class="[ page-title ] [ page-title--plant ]">{{ plant_name }}</h1>
        {% if plant_type !== 'family' %}
          <div class="page-sub-title">
            {% include "partials/plants/scientific-name.html" %}
          </div>
        {% endif %}
      </div>

      {% if (plant_type !== 'family') and (plant_type !== 'variety') %}
        {% include "partials/plants/related-plants.html" %}
      {% endif %}

      {% if plant_type === 'family' %}
        {% set family_data = plant.data %}
        {% include "partials/plants/family-data.html" %}
      {% endif %}

      {% if (plant_type === 'species') or (plant_type === 'variety') %}
        <div class="[ page-bottom ] [ page-bottom--plant ] [ auto-grid grid-2-1 ]">
          <div class="[ page-bottom__first ]">
            {% include "partials/plants/nursery-availability.html" %}
          </div>
          <div class="[ page-bottom__second ]">
            {% include "partials/plants/taxonomy-levels.html" %}
            {% include "partials/plants/plant-citations.html" %}
          </div>
        </div>
      {% endif %}
    </article>
  </div>

{% endblock %}
