{% extends "layouts/base.html" %}

{% block content %}
  <div class="[ wrapper wrapper--topbot ]">
    <article class="[ page ] [ page--search ]">
      <div class="[ page-head ] [ page-head--search ]">
        <h1 class="[ page-title ] [ page-title--search ]">{{ title }}</h1>
      </div>

      <div class="[ page-section page-section--mid ]">
        {% include "partials/search/search-form.html" %}
      </div>

      <div class="[ page-section page-section--bottom ]">
        {% include "partials/search/search-results.html" %}
      </div>
    </article>
  </div>
{% endblock %}
