<article class="[ page ] [ page--nursery ]">
  <div class="[ page-head ] [ page-head--nursery ] [ auto-grid grid-2-1 ]">
    <div class="[ page-top__first ]">
      <div class="[ page-section page-section--top ]">
        {% include "partials/nursery-details/nursery-title-site.html" %}
      </div>

      <div class="[ page-section page-section--mid ] [ auto-grid grid-1-1 ]">
        <div class="[ page-section__first ]">
          {% include "partials/nursery-details/nursery-address.html" %}
        </div>
        <div class="[ page-section__second ]">
          {% include "partials/nursery-details/nursery-contact-info.html" %}
        </div>
      </div>

      <div class="[ page-section page-section--bottom ]">
        {% include "partials/nursery-details/nursery-specialties.html" %}
      </div>

      <div class="[ page-section page-section--bottom ]">
        {% include "partials/nursery-details/nursery-info-types.html" %}
      </div>
    </div>
    <div class="[ page-top__second ]">
      {% include "partials/nursery-details/nursery-map.html" %}
    </div>
  </div>
  <div class="[ page-bottom ] [ page-bottom--nursery ] [ auto-grid grid-2-1 ]">
    <div class="[ page-bottom__first ]">
      {% include "partials/nurseries/nursery-search.html" %}
    </div>
    <div class="[ page-bottom__second ]">
    </div>
  </div>
</article>
