<article class="[ teaser ] [ teaser--nursery ]">
  <div class="[ teaser-head ] [ teaser-head--nursery ]">
    <div class="[ teaser-section teaser-section--top ]">
      {% include "partials/nursery-details/nursery-title-site.html" %}
    </div>

    <div class="[ teaser-section teaser-section--mid ] [ auto-grid grid-1-1 ]">
      <div class="[ teaser-section__first ]">
        {% include "partials/nursery-details/nursery-address.html" %}
      </div>
      <div class="[ teaser-section__second ]">
        {% include "partials/nursery-details/nursery-contact-info.html" %}
      </div>
    </div>

    <!--<div class="[ teaser-section teaser-section&#45;&#45;bottom ]">-->
      <!--{% include "partials/nursery-details/nursery-specialties.html" %}-->
    <!--</div>-->

    <div class="[ teaser-section teaser-section--bottom ]">
      {% include "partials/nursery-details/nursery-info-types.html" %}
    </div>
  </div>
  <div class="[ teaser-bottom ] [ teaser-bottom--nursery ] [ auto-grid grid-2-1 ]">
    {% include "partials/nursery-details/nursery-more.html" %}
  </div>
</article>
