.button {
  @include radius();
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  background: get-color('quaternary-glare');
  color: get-color('dark-shade');
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'bold');

  // Make sure hover state trumps all variants with a good ol’ important
  &:hover,
  &:focus {
    background: get-color('quaternary') !important;
    color: get-color('dark-shade') !important;
  }

  // Add a ghost modifier
  &[data-variant='ghost'] {
    background: transparent;
    color: get-color('quaternary-glare');
  }

  // Add a ghost modifier
  &[data-variant='glare'] {
    @include radius-zero();
    @include box-shadow();
    font-size: 18px;
    line-height: 31px;
    width: 100%;
    font-weight: 400;
    text-transform: none;
    background: get-color('tertiary-glare');
    color: get-color('quinary-glare');
    border: 1px solid get-color('senary-shade');
    padding: 3px 0;

    &:hover,
    &:focus {
      @include box-shadow-zero();
      background: get-color('tertiary-glare') !important;
      color: get-color('quinary-glare') !important;
      top: 1px;
    }
  }
}

.button-text--long {
  @include element-invisible();
}
