.plant-display__list,
.link-list-inline,
.link-list-section {
  .list-item {
    font-size: get-size('400');
    line-height: 1.75;
    a {
      color: get-color('quinary-shade');
      text-decoration: none;

      &:visited {
        color: get-color('quinary-glare');
      }

      &:hover,
      &:focus {
        color: get-color('quinary');
      }
    }
  }
}

.link-list-section__title {
  font-size: get-size('500');
  line-height: 1.7;
  border-bottom: 1px solid get-color('secondary-shade');
}

.link-list-inline__title {
  font-size: get-size('400');
  line-height: 1.5;
  display: inline-block;
}

.link-list-inline__list,
.link-list-inline__list .link-list-inline__list-item {
  line-height: 1.5;
  display: inline-block;
}

.link-list-inline__list-item {
  margin-right: get-size('400') * 3 / 5;
}

.related-plant__link-list-section,
.directory-genus__link-list-section {
  margin-bottom: get-size('600');

  .list {
    column-count: 2;
    column-gap: get-size('300');

    @include media-query('md') {
      column-count: 3;
      column-gap: get-size('400');
    }

    @include media-query('ml') {
      column-count: 4;
      column-gap: get-size('500');
    }

    @include media-query('lg') {
      column-count: 5;
      column-gap: get-size('600');
    }
  }
}

.list-empty {
  font-size: get-size('400');
  line-height: 1.7;
}
