.link {
  color: get-color('quinary-shade');
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.link__text--extended {
  @include element-invisible();
}

.link--tel {
  padding-bottom: 1px;
  border-bottom: 1px dashed get-color('quinary-shade');
}
