@use "sass:math";

.page--nursery-category {
  .teaser--nursery {
    margin-bottom: get-size('700');

    .teaser-head {
      padding-bottom: 0;
    }

    .teaser-bottom {
      padding-bottom: get-size('400');
      border-bottom: 1px solid get-color('secondary-shade');
    }
  }
}

.nursery-info {
  @include apply-utility('font', 'sans');
  font-size: get-size('400');
  line-height: 1.6875;
}

.nursery-info__inline {
  margin-right: get-size('400') * math.div(3, 4);

  .nursery-info--address & {
    margin-right: 0;
  }
}

.nursery-info--address,
.nursery-info--contact {
  line-height: 1.4;
}

.nursery-info--contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  margin-bottom: get-size('400') * math.div(3, 4);

  .page--nursery-category & {
    margin-bottom: get-size('400') * math.div(1, 2);
    justify-content: flex-start;
  }
}

.nursery-info__contact-label {
  padding-right: get-size('400');

  .page--nursery-category & {
    flex-basis: 6rem;
  }
}

.nursery-info__contact-detail {
  text-align: right;

  .page--nursery-category & {
    text-align: left;
  }
}

.page--nursery-category .teaser-section--mid {
  margin-top: get-size('400');
  margin-bottom: get-size('400');
}

.page--nursery .page-section--mid  {
  margin-top: get-size('400');
  margin-bottom: get-size('500');
}

.panel.panel--nursery-info-types {
  margin: get-size('400') 0 0;
  padding: (math.div(get-size('400'), 2)) 0 0;

  @include media-query('md') {
    margin: get-size('500') 0 0;
    padding: (get-size('400') * math.div(3, 4));
  }
}

.nursery-info--types {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.nursery-info--geo-code {
  text-align: right;
}
