.page-title {
  @include apply-utility('font', 'sans');
  font-size: get-size('600');
  line-height: 1.5;
}

.letter-directory__title {
  @include apply-utility('font', 'base');
  font-size: get-size('700');
  font-weight: 400;
}

.page-title--nursery {
  @include apply-utility('font', 'base');
  font-size: get-size('600') * 0.85;
}

.page-title--nursery-category  {
  @include apply-utility('font', 'base');
  font-size: get-size('700');
}
