@use "sass:math";

.page-head--search {
  padding-top: #{get-size('500')};
  padding-bottom: 0;
}

.page-title--search {
  @include apply-utility('font', 'base');
  @include apply-utility('weight', 'normal');
  font-size: #{get-size('700')};
  line-height: 1.5;
  padding-top: #{get-size('500')};
}

.search-form {
  padding-bottom: #{get-size('500')};
  border-bottom: 2px solid #{get-color('secondary-shade')};
  margin-bottom: #{get-size('400')};
}

.search-form__input-widgets {
  margin-bottom: #{get-size('400')};
}

.search-form__input-widgets,
.search-form__action-widgets {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  gap: #{get-size('400')};
}

.search-form__widget {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  font-size: #{get-size('400')};

  > * {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.search-input,
.search-select {
  padding: #{(math.div(get-size('400'), 2))} #{(get-size('400') * math.div(3, 4))} #{(math.div(get-size('400'), 2))};
  line-height: 1.5625;
}

.search-select {
  padding-right: 0;
}

.search-form__messages {
  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'normal');
  font-size: #{get-size('400')};
  line-height: 1.73;
  color: #{get-color('primary-shade')};
  margin-top: #{get-size('400')};
}
