{% set wrapper_class = '[ dot-shadow panel ] [ bg-light ]' %}
{% if plant_link_list_wrapper.wrapper_class %}
  {% set wrapper_class = wrapper_class ~ ' ' ~ plant_link_list_wrapper.wrapper_class %}
{% endif %}
<section class='{{ wrapper_class }}'>
  <{{ plant_link_list_wrapper.heading_level }}>{{ plant_link_list_wrapper.title }}</{{ plant_link_list_wrapper.heading_level }}>
  {% set plant_link_list = plant_link_list_wrapper.link_list %}
  {% if plant_link_list.length > 0 %}
    {% include "./plant-link-list.html" %}
  {% else %}
    {% set empty_message = plant_link_list_wrapper.empty_message %}
    {% include "./plant-link-list-empty.html" %}
  {% endif %}
</section>
