<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header class="site-head" role="banner">
  <div class="site-head__primary">
    <div class="site-head__main">
      <div class="[ wrapper ] [ site-head__primary-wrapper ]">
        <div class="site-head__content">
          <div class="site-head__brand">
            <a class="site-head__brand-link" href="/" aria-label="{{ site.name }}" title="Home" rel="home">
              <span class="site-head__brand-name">{{ site.name }}</span>
            </a>
          </div>
          <div class="site-head__nav-wrapper">
            <nav class="[ nav-buttons ] [ site-head__nav-buttons ] [ font-sans ]" aria-label="Primary">
              <h2 class="element-invisible">Main menu</h2>
              <ul class="[ nav-buttons__list ] [ inline ]">
                {% for item in navigation.header.items %}
                <li class="nav-buttons__item">
                  <a class="[ button ]" href="{{ item.url }}" data-variant="glare"
                     {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                  >{{ item.text }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="site-head__bg">
      <div class="site-head__bg-space"></div>
      <div class="site-head__image">
        <div class="site-head__image-overlay"></div>
      </div>
    </div>
  </div>
  <div class="[ site-head__secondary {% if not headerTitle %}site-head__secondary--empty{% endif %} ] ">
    <div class="[ wrapper ] [ site-head__secondary-wrapper ]">
      {% if headerTitle %}
        <h1 class="site-head__page-title">{{ headerTitle }}</h1>
      {% endif %}
    </div>
  </div>
</header>
